<h1>Sign in</h1>
<%= form_tag "/signin", method:"post" do %>
<br><%= label_tag "name" %>
<br><%= text_field_tag "user[name]" %>
<br><%= label_tag :password %>
<br><%= text_field_tag "user[password]" %>
<br><br><%= submit_tag "Sign In" %>
<% end %>