<div>
<h3><%= user.name %></h3>
<ul>
    <li>Nausea: <%= user.nausea%></li>
    <li>Happiness: <%= user.happiness%></li>
    <li>Tickets: <%= user.tickets%></li>
    <li>Height: <%= user.height%></li>
</ul>
</div>