<ul>
    <li><strong><%= attraction.name %></strong></li>
    <ul>
        <li>Nausea Rating: <%= attraction.nausea_rating %></li>
        <li>Happines Rrating: <%= attraction.happiness_rating %></li>
        <li>Tickets: <%= attraction.tickets %></li>
        <li>Minimum Height: <%= attraction.min_height %></li>
    </ul>
</ul>